# PyTorch model files
*.pt

# Python cache
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# Conda environment
checkpoint/environment.yml

*.zip

*.png

metric_history.csv
field_metrics.csv
all*.cvs
all*.cvs